* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(3, 0, 31);

  color: white;
  font-family: 'Poppins', sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
}

.sidebar {
  flex: 3;
  border-right: 1px solid rgba(100, 100, 100, 0.4);
 
}

.main {
  flex: 9;
}
.logo{
  margin-right: 1rem;

}
.brand{
  font-size: 2rem;
}

.upperSide{
  padding: 2rem;
  border-bottom: 1px solid rgba(100,100,100, 0.4);
  height: 70vh;

}
.upperSideTop{
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;

}


.addbtn{
height: 2rem;
padding-right: 1rem;;
}

.midBtn {
  padding: 1.5rem;
  background: rgb(50, 50, 50);
  border: none;
  color: white;
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 0.5rem;
}

.query{
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color:rgba(222, 222, 222, 0.8);
  padding: 1.5rem;
  width : 25rem;
  margin:1rem auto;
  border-radius:0.5rem;
  border: 1px solid rgba(100,100,100,1);
}

.query img{
 margin-right: 2rem;
 object-fit: cover;
 height: 2rem;
}
.lowerSide{
  padding: 2rem;
  
}

.listItems{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.main{
  min-height:calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:6rem 10rem;
  margin-bottom: 0rem;
}
.chatfooter{
  width:100%;
 margin-top: auto;
 display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inp{
 padding: 0.5rem;
  background: rgb(50, 50, 50);
  display: flex;
  border-radius: 0.5rem;
  width: 70rem;
}

.inp >input, .send{
  border: none;
  background: transparent;
  color: white;
  font-size: 1.6rem;
  
}

.inp > input{
  width:calc(100% - 3rem);
  height: 2rem;
  outline: none;
  padding: 1.25rem;
  color:white

}

.chatfooter p{
   margin: 2rem 0;
  color:white;
  font-size: 1.5rem;
}

.chats{
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 26rem);
}
.chat{
  margin:1rem;
  padding:2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
}
.chatimg{
  object-fit: cover;
  width: 3rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}
.bot{
  background: rgb(30, 30, 30);
  border-radius: 0.5rem;
  width: fit-content;
  padding: 1rem;
}

